<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="grid-container">
      <header>
        <%- include('./partials/header'); %>
      </header>
      <main>
        <div>
          <h1>Welcome <%= name %>,</h1>
          <% if (todos.length >0) { %>
            <% const total = todos.length %>
            <% const comp = todos.filter(value => value.completed).length %>
            <% const per = comp/total *100 %>
            <div> Percentage completion: <%= per %>% </div>
          <% } %>
          <div class="mytodo">
            <div class="logout">
              <button type="submit" onClick="logout(event)">LOGOUT</button>
            </div>
          </div>

          <form>
          <div class="todoall">
            <div class="todo">
              <div class="addbutton">
                  <button onClick="todoAdd(event)"> Add New Todo</button>
              </div>
              <div class="variant" id="todoerror" style="display: none;"></div>
              <div class="todoinput addbutton">
                  <input id="todoTitle" type="text" placeholder="Enter title" required/>
                  <input id="todoInput" type="text" placeholder="Enter description" required/>
                  <button onClick="todoSubmit(event)" type="submit">Submit</button>
              </div>
          </div>
            <% if (todos.length) { %>
            <% todos.map((value, index) => { %>
                <div id="<%= index %>" class="todo">
                          <div class="drey">
                            <div class="todovalue">
                            <div class="checker">
                              <span ><i class="<%= value.completed ? 'fa fa-check-circle' : 'fa fa-circle-o' %>" ></i></span>
                            </div>
                              <div class= "<%= `content${value._id}` %>" >
                                    <p class="content"> <%= value.title%></p>
                                    <span class="content" ><%= value.description %></span>
                              </div>
                              <div class="updateinput addbutton" id="<%=`update${value._id}`%>">
                                  <div>
                                      <input class="<%= `title${value._id}` %>" type="text" placeholder="<%= value.title %>" />
                                      <input class="<%= `description${value._id}` %>" type="text" placeholder="<%= value.description %>" />
                                      <div class="status" id="<%= `done${value._id}` %>"> Status:

                                          <input type="radio" name="status" value="done" />
                                          <label htmlFor="done">Done</label>
                                          <input type="radio" name="status" value="not done" />
                                          <label htmlFor="not done">Not Done</label>

                                      </div>
                                  </div>
                                  <div>
                                      <button onClick="updateTodo(event,'<%= value._id %>')" >Submit</button>
                                  </div>
                              </div>
                            </div>
                              <div><span class="<%=`button${value._id}`%>"><button onClick="editTodo(event, '<%= value._id %>')"
                                 >Edit</button> </span>
                                 <button onClick="deleteTodo(event, '<%= value._id %>')">Delete</button></div>

                          </div>
                  </div>
              <%});%>
          <%}%>
          </div>
          </form>

      </main>
      <footer>
        <%- include('./partials/footer'); %>
      </footer>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
